#app-header {
  background-color: var(--header-background);
  padding: 12px;
}
#app-header-container {
  max-width: 1600px;
  margin: 0 auto;
}
#app-header-logo {
  height: 24px;
}
@media screen and (min-width: 56rem) {
  #app-header-logo {
    height: 32px;
  }
}