@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html {
  --text-primary: #2C3642;
  --background-primary: #FFFFFF;
  --header-background: #252F3D;
  --accent-color: #4790A1;
  --accent-secondary-color: #127C95;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0.7rem 2rem;
  background-color: var(--background-primary);
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
}

.accent-button {
  background-color: var(--accent-secondary-color);
  color: var(--background-primary);
  border: 1px solid var(--accent-secondary-color);
}